/******************************************************************************
 *
 * Maerial Design tweaks
 */

md-card.main-page article>header {
  margin-bottom: 30px;
}

md-card.main-page article>header p,
md-card.main-page article>header h1{
  margin: auto;
}

/* removing right space on the tags */
.md-chips:not(.md-readonly) .md-chip {
  padding-right: 12px;
}

.md-chips .md-chip .md-chip-content {
  padding-right: 0px;
}

/******************************************************************************
 *
 * Articles content
 */
article .article-wrapper {
  display: block;
}

article .article-wrapper code {
  white-space:pre-wrap;
  background:aliceblue;
  border:black dashed 1px;
  display: block;
  padding: 14px 0 14px 0;
  margin: 14px 0 14px 0;
}

/* CODE */
article .article-wrapper code::first-line {
  line-height: 0px;
}

article .article-wrapper code.inline {
  white-space: normal;
  display:inline;
  border: 0;
  padding: inherit;
  margin: inherit;
}

article .article-wrapper h2,
article .article-wrapper h3 {
  text-transform: capitalize;
  margin-top: 14px;
  margin-bottom: auto;
}

article img {
  display: block;
  margin: auto;
  width: 100%;
}
