/*md-card.main-page article {
  color: rgba(0,0,0,0.54);
}*/

md-card.main-page article>header {
  margin-bottom: 30px;
}

md-card.main-page article>header p,
md-card.main-page article>header h1{
  margin: auto;
}

/******************************************************************************
 *
 * Articles content
 */
article .article-wrapper {
  display: block;
}

article .article-wrapper code {
  white-space:pre-wrap;
  background:aliceblue;
  border:black dashed 1px;
  display: block;
  padding: 14px 0 14px 0;
  margin: 14px 0 14px 0;
}

/* CODE */
article .article-wrapper code::first-line {
  line-height: 0px;
}

article .article-wrapper code.inline {
  white-space: normal;
  display:inline;
  border: 0;
  padding: inherit;
  margin: inherit;
}

article .article-wrapper h2 {
  text-transform: capitalize;
  margin-top: 14px;
  margin-bottom: auto;
}
